:root{
    --cor-texto-destaque:#fff;
    --cor-backgroud-destaque:#5bc241;
    --cor-cabecalho-padrao:#000;
    --fonte-padrao:'Titillium Web';
    --tamanho-fonte-logo: 20px;
    --tamanho-fonte-texto-cabecalho:15px
}